<div id="chainInfoWrapper">
	<table id="chainInfoTable">
		<thead>
			<tr>
				<th class="chain">連鎖</th>
				<th class="score">得点</th>
				<th class="erase">消した数</th>
				<th class="connect">連結</th>
				<th class="color">色数</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>