<div id="imageFormWrapper">
	<div id="imageForm">
		<canvas id="image"></canvas>
		<input id="imageFile" name="imageFile" type="file" accept="image/jpeg,image/png">
		<input type="radio" name="trimmode" id="any" value="0"><label for="any">任意</label>
		<input type="radio" name="trimmode" id="rect" value="1" checked><label for="rect">矩形</label>
		<button id="convertImage">送信</button>
		<button id="closeImageForm">閉じる</button>
	</div>
</div>