<div>
	<label class="radio"><input type="radio" name="mode" id="step" value="0" checked><span class="outside"><span class="inside"></span></span><label for="step">パラパラ再生</label></label>
	<label class="radio"><input type="radio" name="mode" id="animation" value="1"><span class="outside"><span class="inside"></span></span><label for="animation">アニメーション再生</label></label>
	<label class="range"><img src="static/images/icon/turtle.svg"><input type="range" id="speed" min="1" max="5" value="3"><img src="static/images/icon/rabbit.svg"></label>
</div>